@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #353e5c;
  font-weight: 600;
  font-family: 'inter';
}

body {
  color: #353e5c;
}

label {
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input {
  outline: none;
}

::-webkit-scrollbar {
  /* 移除滾動條的預設外觀 */
  -webkit-appearance: none;
  /* 這是垂直滾動條的寬度 */
  width: 8px;
  /* 這是水平滾動條的寬度 */
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: #e7e9ec;
  border-radius: 10px;
  margin: 0 4px 0 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #b5bcc7;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* 隱藏所有 number 型別的 input 元素的調整按鈕 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
